<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div fxLayout="column" *ngIf="!loading">
    <mat-card fxFlex="100" class="p-large m-small">
        <mat-card-title fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button color="warn" [routerLink]="['/assets']">
                <mat-icon>close</mat-icon>
            </button>
            <h2 class="no-margin">
                {{asset?.name}} <{{asset?.id}}>
            </h2>
        </mat-card-title>
    </mat-card>

    <mat-card fxFlex="100" class="p-large m-small" *ngIf="results.length === 0">
        <mat-card-title fxLayout="row" fxLayoutAlign="center center">
            <h3 class="no-margin">Empty Results</h3>
        </mat-card-title>
    </mat-card>

    <mat-card fxFlex="100" class="p-large m-small" *ngIf="results.length > 0">
        <div [chart]="chart"></div>
    </mat-card>
</div>
